@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif!important;
    font-size: 18px;
    font-weight:300;
    text-rendering: optimizeLegibility;
    margin-left: 0px;
    background-color: #f2f2f2;
}

header{
    padding: 20px 0px 20px 0px;
}

footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

label{
    font-size: 70%;
}
circle:hover{
    cursor: pointer;
    fill: #555;
}
svg{
    background:transparent;
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: auto;
    /*top: 0px;
    left:0px;
    min-height: 100vh;
    */
}
textarea {
    min-height: 1em;
    width: 100%;
    overflow: hidden;
}
text{
    font-size:80%;
}
.row.content {
    height: 100%;
    margin-top: 50px;
}
#content-right
{
    background: #f2f2f2;
}

#content-left
{
    border-right: solid 1px rgb(200, 200, 200);
    min-height: 100vh;
    background:#dedede;
}
#content-left > .row
{
    background: #dedede;
}

.timeline {
    text-align: center;
    display: block;
    /*margin: auto;*/
}
.text_dont_move {
    position: relative;
}
.tooltip{
    z-index: 100;
    opacity: 0;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: white;
    padding:  5px 10px 5px 10px;
    -moz-border-radius: 8px 8px;
    border-radius: 8px 8px;
    width: 300px;
}
.fade{
    opacity: .4 !important;
    width: auto
}
.tooltip1{
    background: rgba(0, 0, 0, 0.63);
}
.tooltip2{
    background:#c0782b;
    color:#f3f894;
    display: none;
}
.tooltip2-active{
    display: block;
}
.tooltip3{
    background:#c0782b;
    visibility:hidden;
    color:#f3f894;
}
.tooltip_path{
    width: auto;

}

.tooltip.top {
    /*margin-top: 60px!important;*/
    margin-left: 0px!important;
}
.tooltip.fade.top.in{
    cursor: pointer;
}

.label-vertical{
    fill: #c0782b; 
    font-size: 90%;
}

.restriction-selector{
    height: 120px!important;
}

#form{
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
}
#form-container{
    max-height: 80%;
    overflow: auto;
    overflow-y: auto;
    overflow-x: hidden;
    background: transparent;
}
.form-group-node{
    border-top: solid 1px rgb(200, 200, 200);
}
.form-group-type{
    background:#ebebeb;
    padding: 10px 30px 10px 15px;
}
.render-navi{
    border-top: solid 1px rgb(200, 200, 200);
    padding-top: 10px;
    padding-bottom: 10px;
}
.render-navi-bottom{
    border-bottom: solid 1px rgb(200, 200, 200);
    padding-top: 10px;
    padding-bottom: 10px;
}
#current-timeknot{
border-bottom: solid 1px rgb(200, 200, 200);
}
.form-group-node-item{
    padding: 10px 30px 10px 15px;
    background: #d8d8d8;
}
.form-group-node-item-title{
    padding: 10px 10px 10px 15px;
}
#current-timeknot{
    font-family: 'Roboto:300', Arial, Helvetica, sans-serif!important;
    font-size: 70%;
    padding-bottom: 10px;
}
.meta-title{
    background: #dedede;
    border: none;
    font-size: 130%;
    font-weight: bold;
    padding-left: 0px;
    box-shadow: none;
}
.meta-name{
    font-weight: bold;
}
.meta-date{
    font-size: 75%;
}
.meta-index{
    font-weight: bold;
    font-size: 1.2em;
}
.align-right{
    text-align: right;
}
.file-form{
    display: none;
}
.svgImage,#canvas{
    display: none!important;
}
.path{
    text-align:center;
}
div#to_chose{
    background:#f2f2f2;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 90vh;
}
.btn-examples{
    margin-bottom:3px;
    margin-right: 3px;
}
#examples{
    bottom: 15vh;
    color: #c0782b; 
    width: 98%;
    font-size: medium;
    background:white;
    opacity: 0;
}
.tooltip-replacer{
    margin-top: 10px;
    padding: 10px;
    font-size: medium;
    border-radius: 25px;
    background-color: #c0782b;
    color:#f3f894;
}
.relation-info{
    padding: 10px;
    margin-top: 10px;
    font-size: medium;
    color: white;
    background-color: #555;
    border-radius: 25px;
    overflow: auto;
    max-height: 300px;
}