circle {
    fill: #b8b8b8;
}

circle.highlighted {
    fill: #69b3b2;
}

path {
    stroke: #b8b8b8;
    fill: none;
}

path.highlighted {
    stroke: #69b3b2;
    stroke-width: 4;
}

.label {
    fill: #b8b8b8;
    text-anchor: start;
    writing-mode: vertical-rl;
}

.label.highlighted {
    fill: #69b3b2;
}

#tooltip {
    position: absolute;
    visibility: hidden;
    background-color: #191919;
    color: #fcfcfd;
    border-radius: 6px;
    padding: 5px;
    opacity: 80%;
}

#tooltip.highlighted {
    visibility: visible;
}