{% extends "layout.html.jinja" %}
{% block body %}
<div class="container-fluid">
<div class="row">
    <div class="col-3 sidebar">
        <div class="d-grid gap-2" id="sidebar-contents">
            {% if data is defined %}
            <h2 class="display-6">Relative chronology of {{ data["language"] }} sound changes</h2>
            {% else %}
            <h2 class="display-6">Relative chronology of sound changes in custom language</h2>
            {% endif %}
            <div class="row">
                <div class="col d-grid">
                    <button id="download-btn" class="btn btn-primary">
                        Save Diagram
                    </button>
                </div>
                <div class="col d-grid">
                    <button id="toggle-label-btn" class="btn btn-primary">
                        Hide Labels
                    </button>
                </div>
            </div>
            <button id="toggle-filter-btn" class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#filters" aria-expanded="false" aria-controls="collapseExample">
                Filter
            </button>
            <div class="collapse" id="filters">
                <div class="card text-bg-info card-body" id="filters-card">
                    <div class="d-grid gap-2">
                        <div class="row">
                            <div class="col-4">
                                <select class="form-select" multiple aria-label="multiple select example" id="filter-ids"></select>
                            </div>
                            <div class="col-8">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="conf-check">
                                    <label class="form-check-label" for="conf-check">
                                        Only confident relations
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="in-check" checked>
                                    <label class="form-check-label" for="in-check">
                                        Incoming relations
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="out-check" checked>
                                    <label class="form-check-label" for="out-check">
                                        Outgoing relations
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col d-grid">
                                <button id="apply-btn" class="btn btn-primary">
                                    Apply
                                </button>
                            </div>
                            <div class="col d-grid">
                                <button id="reset-btn" class="btn btn-primary">
                                    Reset
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card text-bg-primary d-none" id="sc-card">
                <div class="card-header">
                    <span class="badge text-bg-info" id="sc-card-id">1</span>
                    <span id="sc-card-header"></span>
                </div>
                <div class="card-body" id="sc-card-body"></div>
            </div>
            <div class="card text-bg-primary d-none" id="rel-card">
                <div class="card-header" id="rel-card-header"></div>
                <ul class="list-group list-group-flush" id="rel-card-list"></ul>
            </div>
            <div class="card text-bg-primary d-none" id="second-sc-card">
                <div class="card-header"s>
                    <span class="badge text-bg-info" id="second-sc-card-id">2</span>
                    <span id="second-sc-card-header"></span>
                </div>
                <div class="card-body" id="second-sc-card-body"></div>
            </div>
        </div>
    </div>
    <div class="col position-relative m-3 gx-0 d-flex flex-column">
        <div id="arc-diagram" class="flex-grow-1 position-relative"></div>
        <div class="position-absolute top-0 start-0">
            <button type="button" class="btn btn-primary" id="home-btn">
                Home
            </button>
            <button type="button" class="btn btn-primary" id="to-chord-btn">
                Switch to Chord Diagram
            </button>
            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#instructions-modal">
                Help
            </button>
        </div>
        <button type="button" class="btn btn-primary position-absolute top-0 end-0" id="drawer-btn">
            Open Examples
        </button>
        <div>
            <button type="button" id="chron-close-btn" class="btn-close float-end invisible" aria-label="Clear example chronology"></button>
            <div id="example-chronology" class="border-top border-info"></div>
        </div>
    </div>
</div>
</div>
{% endblock %}