{% extends "layout.html.jinja" %}
{% block body %}
<div class="container-fluid">
<div class="row">
    <div class="col-3 sidebar">
        <div class="scrollable d-grid gap-2" id="sidebar-contents">
            {% if data is defined %}
            <h2 class="display-6">Relative chronology of {{ data["language"] }} sound changes</h2>
            {% else %}
            <h2 class="display-6">Relative chronology of sound changes in custom language</h2>
            {% endif %}
            <div class="row">
                <div class="col d-grid">
                    <button id="download-btn" class="btn btn-primary">
                        Save Diagram
                    </button>
                </div>
            </div>

            <div class="card text-bg-primary d-none" id="sc-card">
                <div class="card-header">
                    <span class="badge text-bg-info" id="sc-card-id">1</span>
                    <span id="sc-card-header"></span>
                </div>
                <div class="card-body" id="sc-card-body"></div>
            </div>
            <div class="card text-bg-primary d-none" id="rel-card">
                <div class="card-header" id="rel-card-header"></div>
                <ul class="list-group list-group-flush" id="rel-card-list"></ul>
            </div>
            <div class="card text-bg-primary d-none" id="second-sc-card">
                <div class="card-header"s>
                    <span class="badge text-bg-info" id="second-sc-card-id">2</span>
                    <span id="second-sc-card-header"></span>
                </div>
                <div class="card-body" id="second-sc-card-body"></div>
            </div>
        </div>
    </div>
    <div class="col position-relative m-3 d-flex flex-column">
        <button type="button" class="btn btn-primary position-absolute top-0 end-0" id="drawer-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16" id="drawer-btn-icon">
                <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z"></path>
            </svg>
            <span class="visually-hidden">Open examples</span>
        </button>
        <button type="button" href="/" class="btn btn-primary position-absolute top-0 start-0" id="home-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16" id="home-btn-icon">
                <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146ZM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5Z"/>
            </svg>
            <span class="visually-hidden">Home</span>
        </button>
        <div id="chord-diagram" class="flex-grow-1"></div>
        <div>
            <button type="button" id="chron-close-btn" class="btn-close float-end invisible" aria-label="Clear example chronology"></button>
            <div id="example-chronology" class="border-top border-info"></div>
        </div>
    </div>
</div>
</div>
<!-- See https://getbootstrap.com/docs/5.0/components/offcanvas -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">Examples</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body scrollable d-grid gap-1">
        <p id="explainer-text" class="shown">
            Please double-click a sound change node to see example lexemes.
        </p>
    </div>
</div>
<div id="node-tooltip" class="tooltip invisible"></div>
{% endblock %}