{% extends "layout.html.jinja" %}
{% block body %}
<div class="container-fluid">
<div class="row">
    <div class="col-3 sidebar">
        <div class="d-grid gap-2" id="sidebar-contents">
            {% if data is defined %}
            <h2 class="display-6">Relative chronology of {{ data["language"] }} sound changes</h2>
            {% else %}
            <h2 class="display-6">Relative chronology of sound changes in custom language</h2>
            {% endif %}
            <div class="row">
                <div class="col d-grid">
                    <button id="download-btn" class="btn btn-primary">
                        Save Diagram
                    </button>
                </div>
            </div>

            <div class="card text-bg-primary d-none" id="sc-card">
                <div class="card-header">
                    <span class="badge text-bg-info" id="sc-card-id">1</span>
                    <span id="sc-card-header"></span>
                </div>
                <div class="card-body" id="sc-card-body"></div>
            </div>
            <div class="card text-bg-primary d-none" id="rel-card">
                <div class="card-header" id="rel-card-header"></div>
                <ul class="list-group list-group-flush" id="rel-card-list"></ul>
            </div>
            <div class="card text-bg-primary d-none" id="second-sc-card">
                <div class="card-header">
                    <span class="badge text-bg-info" id="second-sc-card-id">2</span>
                    <span id="second-sc-card-header"></span>
                </div>
                <div class="card-body" id="second-sc-card-body"></div>
            </div>
        </div>
    </div>
    <div class="col position-relative m-3 d-flex flex-column">
        <div id="chord-diagram" class="flex-grow-1 position-relative"></div>
        <div class="position-absolute top-0 start-0">
            <button type="button" class="btn btn-primary" id="home-btn">
                Home
            </button>
            <button type="button" class="btn btn-primary" id="to-arc-btn">
                Switch to Arc Diagram
            </button>
            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#instructions-modal">
                Help
            </button>
        </div>
        <button type="button" class="btn btn-primary position-absolute top-0 end-0" id="drawer-btn">
            Open Examples
        </button>
        <div>
            <button type="button" id="chron-close-btn" class="btn-close float-end invisible" aria-label="Clear example chronology"></button>
            <div id="example-chronology" class="border-top border-info"></div>
        </div>
    </div>
</div>
</div>
{% endblock %}