<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Standard header tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Relative Chronology</title>

    <link href="static/styles/styles.css" rel="stylesheet">

    <!-- Favicon -->
    <!-- TODO Include license info (see files) -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
    <link rel="manifest" href="/static/favicons/site.webmanifest">
</head>
<body>
    <div class="container text-center align-items-center mt-5 row">
        <div class="col-1"></div>
        <div class="col-8 position-absolute top-50 start-50 translate-middle">
            <h1 class="display-5 fw-bold">Relative Chronology Visualization</h1>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <p class="lead">
                        Use this website to visualize the relative history of sound changes based on linguistic studies. Pick a language to get started.
                    </p>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <a class="btn btn-primary btn-lg px-4 gap-3" href="/ru">Russian</a>
                    <a class="btn btn-primary btn-lg px-4 gap-3 disabled" href="/hr">Croatian</a>
                </div>
                <div class="col-2"></div>
            </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</body>
</html>