<!DOCTYPE html>
<html lang="en">
<head>
    {# Standard header tags #}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Relative Chronology{% endblock %}</title>
    <link href="static/styles/styles.css" rel="stylesheet">

    {# Bootstrap, D3, helper libraries and own JS #}
    {% if data is defined %}
    <script type="text/javascript" defer>
        const oldestVariety = {{ data["oldest_variety"]|tojson }}
        const newestVariety = {{ data["newest_variety"]|tojson }}
        const language = {{ data["language"]|tojson }}
        const serverResponse = {{ data|tojson }}
    </script>
    {% endif %}
    <script src="static/bootstrap/js/bootstrap.min.js" defer></script>
    <script src="https://d3js.org/d3.v7.min.js" defer></script>
    <script src="static/helpers/canvas-to-blob.min.js"></script>
    <script src="static/helpers/FileSaver.min.js"></script>
    <script src="static/main.js" defer></script>

    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
    <link rel="manifest" href="/static/favicons/site.webmanifest">
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>