<!DOCTYPE html>
<html lang="en">
<head>
    {# Standard header tags #}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Relative Chronology{% endblock %}</title>
    <link href="static/styles/styles.css" rel="stylesheet">

    {# Always load bootstrap js #}
    <script src="static/bootstrap/js/bootstrap.min.js" defer></script>

    {# Data is defined on diagram pages #}
    {% if data is defined %}
        {# Give the js the variables it needs for diagram drawing #}
        <script type="text/javascript" defer>
            const oldestVariety = {{ data["oldest_variety"]|tojson }}
            const newestVariety = {{ data["newest_variety"]|tojson }}
            const language = {{ data["language"]|tojson }}
            const serverResponse = {{ data|tojson }}
        </script>

        {# Load D3js #}
        <script src="static/d3.v7.min.js" defer></script>

        {# Load helper libraries #}
        <script src="static/helpers/canvas-to-blob.min.js"></script>
        <script src="static/helpers/FileSaver.min.js"></script>

        {# Load general code for diagrams #}
        <script src="static/helpers/diagram_helpers.js" defer></script>
        {# Load own js, arc_diagram.js or chord_diagram.js #}
        <script src={{ "static/{}.js".format(data['diagram_type']) }} defer></script>
    {% endif %}

    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
    <link rel="manifest" href="/static/favicons/site.webmanifest">
</head>
<body>
    {% block body %}{% endblock %}
    <!-- Common elements of all diagrams go here -->
    <!-- Bootstrap Offcanvas -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h5 id="offcanvasRightLabel">Examples</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body scrollable d-grid gap-1">
            <p id="explainer-text" class="shown">
                Please double-click a sound change node to see example lexemes.
            </p>
        </div>
    </div>
    <!-- Bootstrap Modal -->
    <div class="modal fade" id="instructions-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Instructions</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul>
                    <li>Double-click sound change nodes to get info and show relations</li>
                    <li>Then, click "Open Examples" at the top right to see suitable example lexemes</li>
                    <ul><li>Click an example to see its chronology</li></ul>
                    <li>Click on frozen arcs to get info on the relative dating of the connected sound changes</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>
    <div id="node-tooltip" class="tooltip invisible"></div>
</body>
</html>