@use "sass:color";
// Override default colors before importing Bootstrap css
// https://www.cd.uzh.ch/de/basics/farben.html
$uzh-blue-100: #0028a5;
$uzh-blue-80: #3353b7;
$uzh-blue-60: #667ec9;
$uzh-blue-40: #99a9db;
$uzh-blue-20: #ccd4ed;
$uzh-grey-100: #a3adb7;
$uzh-grey-80: #b5bdc5;
$uzh-grey-60: #c8ced4;
$uzh-grey-40: #dadee2;
$uzh-grey-20: #edeff1;
$uzh-red-100: #dc6027;
$uzh-red-80: #e38052;
$uzh-red-60: #eaa07d;
$uzh-red-40: #f1bfa9;
$uzh-red-20: #f8dfd4;
$uzh-turquoise-100: #0b82a0;
$uzh-turquoise-80: #3c9fb6;
$uzh-turquoise-60: #6bb7c7;
$uzh-turquoise-40: #9ed0d9;
$uzh-turquoise-20: #cfe8ec;
$uzh-bottle-green-100: #2a7f62;
$uzh-bottle-green-80: #569d85;
$uzh-bottle-green-60: #80b6a4;
$uzh-bottle-green-40: #abcec2;
$uzh-bottle-green-20: #d5e7e1;
$uzh-limetree-green-100: #91c34a;
$uzh-limetree-green-80: #aad470;
$uzh-limetree-green-60: #bfdf94;
$uzh-limetree-green-40: #d5e9b7;
$uzh-limetree-green-20: #eaf4db;
$uzh-yellow-100: #fede00;
$uzh-yellow-80: #fbe651;
$uzh-yellow-60: #fcec7c;
$uzh-yellow-40: #fdf3a8;
$uzh-yellow-20: #fef9d3;

// UI colors
$primary: $uzh-blue-80;
$secondary: $uzh-grey-80;
$light: $uzh-grey-40;
$info: $uzh-grey-20;
$input-bg: $uzh-grey-20;
$danger: $uzh-red-80;
$black: #080708;

// Ribbons
$feeding: $uzh-blue-100;
$counterfeeding: $uzh-blue-60;
$bleeding: $uzh-red-100;
$counterbleeding: $uzh-red-60;
$manuscript: $uzh-yellow-80;

// $loanword: $uzh-bottle-green-100;
// $simplicity: $uzh-limetree-green-100;
// $plausibility: $uzh-limetree-green-60;
// $naturalness:  $uzh-yellow-80;
// $other: $black;

// Alternative: use same color for three rare categories
$loanword: $uzh-limetree-green-100;
$simplicity: $uzh-yellow-80;
$plausibility: $uzh-yellow-80;
$naturalness:  $uzh-yellow-80;
$other: $uzh-turquoise-100;


@import "../bootstrap/scss/bootstrap";

svg {
    cursor: default;
}

// Disable text selection for svg text elements
textPath,
text {
    &::selection {
        background-color: transparent;
        color: #000;
    }
}

/* Sidebar */
.sidebar {
    height: 100vh;
    overflow: auto;
    background-color: $uzh-grey-20;
    padding-bottom: 10px;
}

h2.display-6 {
    margin-top: 5px;
    font-size: 2.4rem;
}

// Prevent filters card to be hidden like sc-cards
#filters-card {
    display: inherit !important;
}

// Default bootstrap badges seem slightly too low
.badge {
    transform: translateY(-1px);
}


/* Nodes and Arcs */
circle {
    fill: $uzh-grey-80;
    cursor: pointer;
    &.highlighted,
    &.locked {
        fill: $black;
    }
}

.arc {
    stroke: $uzh-grey-80;
    fill: none;
    stroke-dasharray: none;
    &.dashed path {
        stroke-dasharray: 5, 2;
    }
    &.comb-part-1 {
        stroke-dasharray: 20, 20;
    }
    &.comb-part-2 {
        stroke-dasharray: 20, 20;
        stroke-dashoffset: 20;
    }
    &.highlighted path,
    &.locked path {
        stroke-width: 4;
        &.feeding {
            stroke: $feeding;
        }
        &.counterfeeding {
            stroke: $counterfeeding;
        }
        &.bleeding {
            stroke: $bleeding;
        }
        &.counterbleeding {
            stroke: $counterbleeding;
        }
        &.manuscript {
            stroke: $manuscript;
        }
        &.loanword {
            stroke: $loanword;
        }
        &.naturalness {
            stroke: $naturalness;
        }
        &.simplicity {
            stroke: $simplicity;
        }
        &.plausibility {
            stroke: $plausibility;
        }
        &.other {
            stroke: $other;
        }
    }
}

.arc.highlighted:hover path,
.arc.locked:hover path {
    stroke-width: 10px;
}


/* Node Labels */
.node-label {
    fill: $uzh-grey-80;
    text-anchor: start;
    &.highlighted,
    &.locked {
        fill: $black;
    }
}


/* Arc Labels */
textPath {
    fill: black;
    text-anchor: middle; 
    visibility: hidden;
    cursor: pointer;
}

textPath.highlighted,
textPath.locked {
    visibility: visible;
}

#arc-labels {
    transform: translateY(-5px);
}


/* Tooltip on Node Mouseover */
.tooltip {
    position: absolute;
    background-color: #191919;
    color: #fcfcfd;
    border-radius: 6px;
    padding: 5px;
    opacity: 80%;
    transform: translate(-50%);
}


/* Off-canvas drawer on the right */
.offcanvas {
    --bs-offcanvas-width: 250px;
    background-color: $uzh-grey-20;
}

// Prevents cards from spreading out in sidebar
.offcanvas-body {
    flex-grow: initial;
}

.example {
    --bs-card-spacer-y: 0.5rem;
    cursor: pointer;
}

#drawer-btn-icon, #home-btn-icon {
    transform: translateY(-2px);
    cursor: pointer;
}


/* Example box at the bottom */
#example-chronology-chord {
    height: 4rem;
}

// Margin for every el preceded by another el
.chronology-el + .chronology-el {
    margin-left: 5px;
}

#chron-close-btn {
    margin: 8px;
}

.stress {
    text-decoration: underline;
}


/* These declarations easily fix svg export with missing styles */
.node-label {
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

textPath {
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}


/* Chord diagram */
// Ring
.ring-el,
.ribbon,
.swatch {
    fill: $uzh-grey-20;
    stroke: $uzh-grey-20;
    stroke-width: 1px;
    &.highlighted,
    &.locked {
        stroke: $black;
        fill: $black;
        stroke-width: 1px;
        cursor: pointer;
        &.feeding {
            fill: $feeding;
            stroke: $feeding;
        }
        &.counterfeeding {
            fill: $counterfeeding;
            stroke: $counterfeeding;
        }
        &.bleeding {
            fill: $bleeding;
            stroke: $bleeding;
        }
        &.counterbleeding {
            fill: $counterbleeding;
            stroke: $counterbleeding;
        }
        &.manuscript {
            fill: $manuscript;
            stroke: $manuscript;
        }
        &.loanword {
            fill: $loanword;
            stroke: $loanword;
        }
        &.naturalness {
            fill: $naturalness;
            stroke: $naturalness;
        }
        &.simplicity {
            fill: $simplicity;
            stroke: $simplicity;
        }
        &.plausibility {
            fill: $plausibility;
            stroke: $plausibility;
        }
        &.other {
            fill: $other;
            stroke: $other;
        }
    }
}

.swatch {
    // Simple exemption to cursor rules above
    cursor: default !important;
}

.ribbon.highlighted:hover,
.ribbon.locked:hover {
    stroke-width: 10px;
}

// Labels
.ring-label {
    fill: $uzh-grey-80;
    cursor: pointer;
    &.highlighted,
    &.locked {
        fill: $black;
    }
}


/* Legend */
.legend-box {
    fill: $uzh-grey-20;
}

// Make legend text smaller
.legend-text {
    font-size: small;
    margin-left: 5px;
}